body {
  margin: 0;
  font-family:'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c5c5c5;
  color: #000;
}
a{
  text-decoration: none;
color: #001F3F;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


